body {
  font-size: 30px;
  width: 500px;
}

.display_form {
  display: table;
  margin: 0 2.5px 2.5px 2.5px;
  height: 45px;
  width: calc(100% - 5px);
  background-color: black;
  color: white;
}

.display_form > p {
  display: table-cell;
  text-align: right;
  vertical-align: middle;
}

.box_A {
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  height: 45px;
  display: flex;
  justify-content: space-between;
}

button {
  position: relative;
  padding: 0;
  margin: 0;
  width: 120px;
  height: 40px;
  text-align: center;
  font-size: 20px;
  background-color: #D3D3D3;
  border-radius: 10px;
  border: 2px solid black;  
}

.ch_color::before {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -2px;
  right: -2px;
  top: -2px;
  bottom: -2px;
  border-radius: 6px;
  border: 2px solid #6495ED;  
}
